{%  extends 'bootstrap/base.html' %}

{%  block title %}PASTA+{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>PASTA+ Data Repository</h1>
        <h2>Catalog Browser</h2>
        <table class="table">
            {% for scope in scopes %}
            <div class="row">
                <tr>
                    <td><a href="/eml/{{ scope }}">{{ scope }}</a></td>
                </tr>
            </div>
            {% endfor %}
        </table>
    </div>
{% endblock %}
